* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 150px;
  margin-right: 150px;
}

.topnav {
  overflow: hidden;
  background-color: #4d8529;
  position: fixed;
  top: 0;
  width: 80%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.topnav input {
  width: 80%;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 18px;
}

.topnav input,
.topnav button {
  height: 100%;
}

.topnav a {
  text-decoration: none;
  font-size: 18px;
}

.topnav button {
  width: 80px;
  border-radius: 20px;
}

.floated {
  display: inline-block;
  margin-top: 65px;
  clear: both;
  *zoom: 1;
}

.floated::before,
.floated::after {
  content: "";
  display: table;
}

.floated::after {
  clear: both;
}

.sidebar {
  float: right;
  margin: 0 1.5%;
  width: 30%;
  background-color: rgb(157, 161, 161);
  margin-right: -30px;
}

.sidebar h6 {
  font-size: 18px;
  margin: 10px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar p {
  margin-left: 0;
  color: white;
}

.sidebar img {
  margin-top: 10px;
}

.sidebar .suggest-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
}

.main-bar {
  float: left;
  margin-left: 0 1.5%;
  width: 30%;
}

.suggest {
  display: flex;
  margin-bottom: 10px;
  background-color: rgb(92, 38, 38);
  border-radius: 5px;
}

.suggest:hover {
  background-color: rgb(88, 55, 55);
}

.suggest .suggest-head {
  margin-top: 10px;
}

.suggest img {
  width: 70px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.suggest .floated .main-bar {
  display: block;
}

.follow-container {
  display: flex;
  flex-direction: column;
  width: 240%;
}

.follow-container h4 {
  font-size: 24px;
  width: 100%;
  margin-bottom: 10px;
}

.follow-container a {
  text-decoration: none;
  color: blue;
  text-align: center;
}

.follow-container .extra {
  margin-left: 0;
  margin-bottom: 10px;
}

.follow-container .letter {
  font-size: 20px;
  border-radius: 100%;
  width: 25px;
  margin-left: 0;
}

.follow-container .social-handle {
  font-size: 20px;
  margin-left: 30px;
  margin-top: -25px;
}

.follow-container .subs {
  font-size: 12px;
  color: grey;
  margin-top: -4px;
  margin-left: 30px;
}

.share-subscribe {
  display: inline-block;
}

.follow-container .share-subscribe {
  display: flex;
  margin-top: -35px;
  margin-bottom: 200px;
}

.share,
.subscribe {
  font-size: 14px;
  padding: 5px;
  margin-right: 10px;
}

.description {
  border-radius: 5px;
  width: 200%;
  background-color: grey;
  padding: 10px;
  margin-bottom: 50px;
}

.commenter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.commenter img {
  margin-right: -320px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.commenter .comment-text {
  margin-left: 1px;
  width: 180%;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.separator {
  width: 200%;
  margin-bottom: 5px;
}

.comment-button {
  margin-left: 5px;
  padding: 5px;
}

.comment-button a {
  text-decoration: none;
  font-size: 16px;
}

.footer {
  clear: right;
  background-color: #4d8529;
  bottom: 0;
  width: 103%;
  height: 20px;
  padding: 10px;
  margin-top: 10px;
}

.footer h6 {
  color: white;
  font-weight: 1;
  padding-bottom: 5px;
}
